@charset "utf-8";
*{margin:0; padding:0px;}
li{list-style:none;}
img{display:block;border:0px;}
#main-content{}
#content {}
#content .wrap-content{background-color:#FFF; margin-top: 30px;}

.block{}
#main-content article{ margin-bottom:40px; padding:20px; border: 1px solid #EEEEEE;}
#main-content article .heading{text-align: center; border-bottom: 1px solid #EEEEEE; padding: 10px 0 30px 0; margin-bottom: 20px;}
#main-content article .content{margin: 20px 0;}
#main-content article h2{font-size:30px;}
#main-content article img{float:left; margin:0 20px 10px 0; padding:3px; border:1px solid #EEEEEE;}
#main-content article p{margin-bottom:10px;}
#main-content article .info{font-style:italic; border-top: 1px solid #EEEEEE; padding: 30px 0 10px 0;}

#sidebar{}
#sidebar .box {margin-bottom:20px; border: 1px solid #EEEEEE; padding: 20px;}
#sidebar .box .heading { padding:5px; text-align: center;}
#sidebar .box .heading h2{display:inline; padding:0 10px;}
#sidebar .box .content {padding:15px}
#sidebar .box .content ul{list-style-type:none; text-align: center;}
#sidebar .box .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#sidebar .box .content img{ float:left; padding:3px; border:1px solid #EEEEEE; margin-right:10px;}
#sidebar .box .content .post {margin-bottom: 20px;}
#sidebar .box .content .post h4{font-weight:normal;}
#sidebar .box .content .post p{color:#A3A3A3; font-style:italic;}

.keleyitable {  
width: 800px;  
}  

.keleyitable table, td, th {  
border: 1px solid green;margin-top:10px;  
}  
.klytd {width:100px;text-align:right  
}  
.hvttd {  
width:500px} 

/*留言板样式图片*/
.messagepage{
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
}

/* Basic Grey */
.basic-grey {
margin-left:auto;
margin-right:auto;
width: 82%;
background: #F7F7F7;
padding: 25px 15px 25px 10px;
font: 12px Georgia, "Times New Roman", Times, serif;
color: #888;
text-shadow: 1px 1px 1px #FFF;
border:1px solid #E4E4E4;
}
.basic-grey h1 {
font-size: 25px;
padding: 0px 0px 10px 40px;
display: block;
border-bottom:1px solid #E4E4E4;
margin: -10px -15px 30px -10px;;
color: #888;
}
.basic-grey h1>span {
display: block;
font-size: 11px;
}
.basic-grey label {
display: block;
margin: 0px;
}
.basic-grey label>span {
float: left;
width: 20%;
text-align: right;
padding-right: 10px;
margin-top: 10px;
color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
border: 1px solid #DADADA;
color: #888;
height: 30px;
margin-bottom: 16px;
margin-right: 6px;
margin-top: 2px;
outline: 0 none;
padding: 3px 3px 3px 5px;
width: 70%;
font-size: 12px;
line-height:15px;
box-shadow: inset 0px 1px 4px #ECECEC;
-moz-box-shadow: inset 0px 1px 4px #ECECEC;
-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
padding: 5px 3px 3px 5px;
}
.basic-grey select {
background: #FFF no-repeat right;
background: #FFF no-repeat right;
appearance:none;
-webkit-appearance:none;
-moz-appearance: none;
text-indent: 0.01px;
text-overflow: '';
width: 70%;
height: 35px;
line-height: 25px;
}
.basic-grey textarea{
height:100px;
}
.basic-grey .button {
background: #E27575;
border: none;
padding: 10px 25px 10px 25px;
color: #FFF;
box-shadow: 1px 1px 5px #B6B6B6;
border-radius: 3px;
text-shadow: 1px 1px 1px #9E3F3F;
cursor: pointer;
}
.basic-grey .button:hover {
background: #CF7A7A
}

/*essay界面*/
.essaylist{
	margin-left: 5%

}
.essaylist li a{
	color:red;
	line-height: 50px;
	font-size: 30px
}

.audio_player {
  font-family: Helvetica, sans-serif;
}
.audio_player {
  background-color: black;
}
.audio_player .play_pause_button .triangle_1,
.audio_player .play_pause_button .triangle_2 {
  border-right-color: black;
}